In [2]:
#IMPORTANDO BIBLIOTECA PANDAS
import pandas as pd

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv",error_bad_lines=False,sep=";")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
#vizualizando as cinco primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [6]:
df.rename(columns={"country":"Pais","continent":"continente","year":"ano","lifeExp":"Expectativa de vida","pop":"pop total","gdpPercap":"PIB"})

             Pais continente   ano  Expectativa de vida  pop total         PIB
0     Afghanistan       Asia  1952               28.801    8425333  779.445314
1     Afghanistan       Asia  1957               30.332    9240934  820.853030
2     Afghanistan       Asia  1962               31.997   10267083  853.100710
3     Afghanistan       Asia  1967               34.020   11537966  836.197138
4     Afghanistan       Asia  1972               36.088   13079460  739.981106
...           ...        ...   ...                  ...        ...         ...
3307     Zimbabwe     Africa  1987               62.351    9216418  706.157306
3308     Zimbabwe     Africa  1992               60.377   10704340  693.420786
3309     Zimbabwe     Africa  1997               46.809   11404948  792.449960
3310     Zimbabwe     Africa  2002               39.989   11926563  672.038623
3311     Zimbabwe     Africa  2007               43.487   12311143  469.709298

[3312 rows x 6 columns]

In [7]:
df.head(10)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351